<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sp2010/_vti_bin/search.asmx" binding="basicHttpBinding"
                bindingConfiguration="QueryServiceSoap" contract="SP2010QueryServiceProxy.QueryServiceSoap"
                name="QueryServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>