<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TESSReferenceImplementationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TESSReferenceImplementationTests.Properties.Settings>
            <setting name="baseTestUrl" serializeAs="String">
                <value>http://localhost:57650/SearchResults</value>
            </setting>
            <setting name="searchBoxId" serializeAs="String">
                <value>q</value>
            </setting>
            <setting name="searchButtonId" serializeAs="String">
                <value>searchBoxSubmit</value>
            </setting>
        </TESSReferenceImplementationTests.Properties.Settings>
    </applicationSettings>
</configuration>